<mat-toolbar color="primary">
    
    <span routerLink="/home" style="outline: none;margin-left:-15px; margin-top:4px;"><img src="/assets/img/CRS Logo1.png" height="60" width="200"></span>
  
    <span class="example-fill-remaining-space"></span>
    <span><button mat-button routerLink="/about">About</button>
        <button mat-button routerLink="/services">Services</button>
        <button mat-button routerLink="/projects">Projects</button>
        <button mat-button routerLink="/gtk">Good to Know</button>
        <button mat-button routerLink="/clients">Clients</button>
        <button mat-button routerLink="/contact">Contact</button></span>
  </mat-toolbar>